{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


<form action="/login" method="POST">
    <h3 align="center">Login</h3>

    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/> 
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/> 
    </div>

    <!-- <div class="form-group">
        <label for="type">Customer Type</label>
        <input type="" class="form-control" id="password" name="password" placeholder="Enter password"/> 
    </div> -->
    <div class="control-group">
        <label class="control-label">Account Type</label>
        <div class="controls">
            <select id="account" name="account">
                <option value="customer" selected>Customer</option>
                <option value="admin">Admin</option>
              </select>
        </div>
    </div>

    <br/>
<button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %} 
